body {
    background-color: #f8dd00;
}
header {
    background-color: #161300;
    padding-top: 0.6em;
    padding-bottom: 0.2em;
    cursor: default;
}
header h2 {
    color: #f8dd44;
    text-align: center;
}
.card {
    margin-bottom: 0.8em;
}
.card-body {
    margin: 0 auto;
}
.row {
    margin: 1em 0 0 0;
}
.align-center {
    margin: 0 auto;
}
.alert {
    margin-top: 20px;
}
