{% extends 'base.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Adicionar Tags</li>
{% endblock breadcrumb %}
{% block conteudo %}
    <form action="{% url 'editar' %}" method="post">
        {% csrf_token %}
        <div class="col-md-4 text-center align-center">
            <div class="form-group">
                <label for="projetos"><b>Projetos</b></label>
                <select class="form-control" name="project" onchange="SelectProject(this)">
                    <option>Selecione um projeto...</option>
                    {% for project in projects %}
                        <option value="{{ project.repositorie_id }}">{{ project }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"><b>Tags</b></label>
                <input type="text" class="form-control" aria-describedby="tagsProjeto" name="tags" id="tags">
                <small id="tagsProjeto" class="form-text text-muted">Adicione as tags separadas por vírgula - ex. tag1,tag2,tag3</small>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            {% if validation == True %}
                <div class="alert alert-success" role="alert">
                    Tags atualizadas :)
                </div>
            {% elif validation == False %}
                <div class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
            {% endif %}
        </div>
    </form>
{% endblock conteudo %}
{% block js %}
    <script>
        function SelectProject(id_project) {
          $.ajax({
            type:"POST",
            url: '{% url "editar" %}',
            data: {
                uid: id_project.value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data){
                var tags = JSON.stringify(data['tag']);
                tags = tags.replace(/\"/g, "");
                if ( tags != 'null' ) {
                    $('#tags').val(tags);
                } else {
                    $('#tags').val('');
                }
            }
          });
        }
    </script>
{% endblock js %}
