{% extends 'base.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Salvar Projetos</li>
{% endblock breadcrumb %}
{% block conteudo %}
    <div class="col-md-4 text-center align-center">
        <div class="form-group">
            <label for="exampleInputEmail1"><b>Usuário GitHub</b></label>
            <input type="text" class="form-control" autofocus="autofocus" aria-describedby="usuarioGitHub" id="user" name="user" placeholder="Entre com o usuário" required="required">
            <small id="usuarioGitHub" class="form-text text-muted">De enter após digitar seu usuário</small>
        </div>
        <div id="msg"></div>
    </div>
{% endblock conteudo %}
{% block js %}
    <script type="text/javascript">
        $( "#user" ).change(function() {
            $.ajax({
                type:"POST",
                url: '{% url "criar-projeto" %}',
                data: {
                    uid: this.value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data){
                    if ( JSON.stringify(data['status']) == 201 ) {
                        $('#msg').html('')
                        $("#msg").append("<div class='alert alert-success' role='alert'>Foram adicionas " + data['total'] + " projetos</div>");
                    } else {
                        $('#msg').html('')
                        $("#msg").append("<div class='alert alert-danger' role='alert'>Não encontramos este usuário =´^(</div>");
                    }
                }
          });
        });
    </script>
{% endblock js %}
