{% extends 'base.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Buscar por Tags</li>
{% endblock breadcrumb %}
{% block conteudo %}
    <div class="col-md-4 text-center align-center">
        <div class="form-group">
            <label for="tagsProjeto"><b>Tag</b></label>
            <input type="text" class="form-control" aria-describedby="tagsProjeto" name="tag"  id="tag" autofocus="autofocus" placeholder="Entre com a tag" required="required">
            <small id="tagsProjeto" class="form-text text-muted">De enter após inserir sua tag</small>
        </div>
    </div>
    <div class="row"></div>
{% endblock conteudo %}
{% block js %}
    <script>
        $( "#tag" ).change(function() {
            $.ajax({
                type:"GET",
                url: '{% url "procurar-tags" %}',
                data: { uid: this.value },
                success: function(data){
                    if ( data == '' ) {
                        $('.row').html('');
                        $('.row').append('<div class="col-md-4 text-center align-center">\
                                              <div class="alert alert-danger" role="alert">\
                                                  Não encontramos projetos com essa tag =´^(\
                                              </div>\
                                          </div>');
                    } else {
                        $('.row').html('');
                        $.each(data, function(index, project) {
                            $('.row').append(
                                "<div class='col-sm-4'>\
                                    <div class='card'>\
                                        <div class='card-body'>\
                                            <h4 class='card-title'>" + project['name'] + "</h4>\
                                            <p class='card-text'>" + project['url'] + "</p>\
                                            <p class='card-text'>" + project['tag'] + "</p>\
                                        </div>\
                                    </div>\
                                 </div>"
                             );
                        });
                    }
                }
            });
        });
    </script>
{% endblock js %}
